<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:p="http://www.springframework.org/schema/p"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

<bean name="employee1" class="com.cg.springfrmw.collections.Employee">
	
	<property name="employeeName" value= "Mohith" />
	
	<property name="employeePhoneList">
		<list>
			<value>983715368</value>
			<value>937253527</value>
			<value>837325237</value>
		</list>
	</property>
	
	<property name="employeeAddressSet">
		<set>
			<value>Anantapur</value>
			<value>Bengaluru</value>
		</set>
	</property>
	
	<property name="coursesMap">
		<map>
			<entry key="Java" value="6 Months" />
			<entry key="Python" value="Year" />
			<entry key="C++" value="5 Months" />
		</map>
	</property>
	
	<property name="props">
		<props>
			<prop key="Name">Mohith</prop>
			<prop key="Stream">CSE</prop>
		</props>
	</property>
	
</bean>

</beans>